---
name: PlatformIO CI

on:
  push:
    branches:
      - "main"

jobs:
  pre-release:
    name: "Pre Release"
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Cache PlatformIO
        uses: actions/cache@v3
        with:
          path: ~/.platformio
          key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}
      - name: Set up Python
        uses: actions/setup-python@v3
      - name: Install PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio
      - name: Install platformIO libraries
        run: pio pkg install
      - name: Install esptool
        run: |
          pip install --upgrade esptool

      - name: Build esp32-debug
        run: pio run --environment esp32-debug
      - name: Build esp32-s3-debug
        run: pio run --environment esp32-s3-debug

      - name: Rename & move files
        run: |
          mv .pio/build/esp32-debug/firmware.bin firmware-esp32-debug.bin
          mv .pio/build/esp32-debug/firmware-combined.bin firmware-combined-esp32-debug.bin
          mv .pio/build/esp32-s3-debug/firmware.bin firmware-esp32-s3-debug.bin
          mv .pio/build/esp32-s3-debug/firmware-combined.bin firmware-combined-esp32-s3-debug.bin

      - name: "Build"
        run: |
          echo "done!"

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            firmware-*.bin
