---
name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  tagged-release:
    name: "Tagged Release"
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Cache PlatformIO
        uses: actions/cache@v3
        with:
          path: ~/.platformio
          key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}
      - name: Set up Python
        uses: actions/setup-python@v3
      - name: Install PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio
      - name: Install platformIO libraries
        run: pio pkg install
      - name: Install esptool
        run: |
          pip install --upgrade esptool

      - name: Build esp32
        run: pio run --environment esp32
      - name: Build esp32-s3
        run: pio run --environment esp32-s3

      - name: Rename & move files
        run: |
          mv .pio/build/esp32/firmware.bin firmware-esp32.bin
          mv .pio/build/esp32/firmware-combined.bin firmware-combined-esp32.bin
          mv .pio/build/esp32-s3/firmware.bin firmware-esp32-s3.bin
          mv .pio/build/esp32-s3/firmware-combined.bin firmware-combined-esp32-s3.bin

      - name: "Build"
        run: |
          echo "done!"

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            firmware-*.bin
